<!Doctype html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Modify Book</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	
</head>

<body>
	<h1>Edit entry</h1>
	<div>
		<form th:object="${bloodpressure}" th:action="@{../save}" action="#" method="post">
			<input type="hidden" id="id" th:field="*{id}" />
			<div style="clear: both; display: block; height: 10px;"></div>
			<label for="systolic">Date</label>
			<input type="text" id="datethis" th:field="*{datethis}" />
			<div style="clear: both; display: block; height: 10px;"></div>
			<label for="systolic">Systolic</label>
			<input type="text" id="systolic" th:field="*{systolic}" />
			<div style="clear: both; display: block; height: 10px;"></div>
			<label for="diastolic">Diastolic</label>
			<input type="text" id="diastolic" th:field="*{diastolic}" />
			<div style="clear: both; display: block; height: 10px;"></div>
			<label for="pulse">Pulse</label>
			<input type="text" id="pulse" th:field="*{pulse}" />
			<div style="clear: both; display: block; height: 10px;"></div>
			<input type="submit" value="Save"></input>
		</form>
	</div>
</body>

</html>